.git
.github
.gitignore
.vscode
.vscode-test
node_modules
src
.editorconfig
.eslintrc.json
.prettierrc
.prettier.json
tsconfig.json
webpack.config.js
yarn.lock
package-lock.json
*.vsix
*.log
screenshots
examples
.DS_Store